<%= title @issue_notice_counters %>
<div class="issue">
  <table class="attributes">
    <%= issue_fields_rows do |rows| %>
      <% rows.left ::IssueNoticeCounters.human_attribute_name(:name), format_object(@issue_notice_counters.name) %>
      <% rows.right ::IssueNoticeCounters.human_attribute_name(:query_id), format_object(@issue_notice_counters.query_id) %>
      <% rows.left ::IssueNoticeCounters.human_attribute_name(:enabled), format_object(@issue_notice_counters.enabled) %>
      <% rows.right ::IssueNoticeCounters.human_attribute_name(:position), format_object(@issue_notice_counters.position) %>
    <% end %>
    <%= call_hook(:view_issue_notice_counters_show_details_bottom, :issue_notice_counters: @issue_notice_counters) %>
  </table>
</div>
<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render partial: 'issue_notice_counters/sidebar' %>
<% end %>
